
$bg-color: #fff;

$text-font: 300 24px/1.2 'Open Sans', sans-serif;
$menu-font: 24px/1.2 'PT Sans', sans-serif;
$mobile-menu-font: 700 24px/1.2 'PT Sans', sans-serif;
$scroll-font: 18px/1.2 'Open Sans', sans-serif;
$about-menu-font: 24px/1.2 'NexaLight';
$about-title-font: 56px/2 'OpenSans', sans-serif;
$about-text-font: 300 24px/1.2 'Open Sans', sans-serif;
$signature-font: 600 36px/1.4 'Open Sans';

$lightgrey-color: #f1f1f1;
$darkgrey-color: #bebebe;
$black-color: #202020;
$about-scroll-color: darken($darkgrey-color, 20%);

$bright-blue: #00bcd4;