<!DOCTYPE html5>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Simple Adaptive</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600|PT+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="./output/bundle.css">
</head>
<body>
<div id="app-content">
    <!-- header class="header">
        <div class="wrapper">
            <ul class="top-menu">
                <li> Primary colors </li>
                <li> <a href="https://github.com/whoneedsthedevil"> Github </a> </li>
                <li> ... </li>
            </ul>
            <ul class="mobile-menu">
                <li>MENU
                    <ul class="toggle-menu">
                        <li> Home </li>
                        <li> <a href="https://github.com/whoneedsthedevil"> Donate </a> </li>
                        <li> ... </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="wrapper image-content"> 

            <div class="image-box" v-on:click="getPrimaryColors">
                <img :src="source" class="exampl-image" alt="">
            </div>

            <div class="image-url">
                <img src="./assets/img/search-icon.svg" class="search-icon" alt="Check image url" 
                 @click="handler('checkNewImage','getPrimaryColors')" >
                <input type="text" class="image-url-input" value="test" 
                 @keyup.enter="handler('checkNewImage','getPrimaryColors')" >
            </div>

            <div class="palette"> 
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div>
                <div class="color"></div> 
            </div>
        </div>

        <div class="scroll-section" id="main-scroll-event" style="display:none">
            <span>scroll down to see more</span>
            <img src="./assets/img/Double_Arrow.png" alt="scroll down to see more">
        </div>

    </header -->


    <header class="section image">
        <div class="wrapper parralax">
            <ul class="top-menu">
                <li> <a href="#"> Primary colors </a> </li>
                <li> <a href="https://github.com/whoneedsthedevil"> Github </a> </li>
                <li> <a href="#about-section"> ... </a> </li>
            </ul>
            <ul class="mobile-menu">
                <li>MENU
                    <ul class="toggle-menu">
                        <li> <a href="#"> Primary colors </a> </li>
                        <li> <a href="https://github.com/whoneedsthedevil"> Github </a> </li>
                        <li> <a href="#about-section"> ... </a> </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="wrapper image-content"> 

            <div class="image-box">

                <div class="search-icon" 
                     v-on:click="handler(getPrimaryColors, checkNewImage)" >
                    <img src="./assets/img/search.png" 
                        alt="Check image url" >
                </div>
                <div class="form-group">
                    <input type="text" 
                        v-bind:class="[inputVisible ? 'add' : '', 'image-url-input']"
                        v-model="checkSrc" placeholder="Type your url" 
                        @keyup.enter="getPrimaryColors" >
                </div>


                <img :src="source" class="exampl-image" alt="">
            </div>

            <div class="image-url">

                    <div class="thief palette"> 
                        <h4>Primary colors</h4>
                        <div class="container">
                            <div class="color"></div>
                            <div class="color"></div>
                            <div class="color"></div>
                            <div class="color"></div>
                            <div class="color"></div> 
                        </div>
                    </div>


                    <div class="resemble palette">
                        <h4>Colors saturations</h4>
                        <div class="container">
                            <div class="color green"></div>
                            <div class="color blue"></div>
                            <div class="color red"></div>
                        </div>
                    </div>
            </div>

        </div>

        <div class="scroll-section" id="scroll">
            <div class="scroll-icon">
                <span>scroll down to see more</span>
                <img src="./assets/img/Double_Arrow.png" alt="scroll down to see more">
            </div>

        </div>

    </header>

    <section class="about" id="about-section">
        <!-- div class="wrapper">
            <ul class="top-menu">
            </ul>
        </div -->

        <div class="wrapper content">
            <div class="personal-photo">
                <img src="./assets/img/This_Guy.jpg" alt="Personal Photo">
            </div>
            <div class="about-me">
                <div class="title">Hello!</div>
                <div class="text">
                <p v-for="key in history" bind-data="key"> {{ key }} </p>
                </div>
                <div class="signature" @click="tryRessemble(source)">abstract.login@gmail.com</div>
            </div>
        </div>

        <!-- div class="scroll-section">
            <span>keep scrolling, there is still more to come.</span>
            <img src="./assets/img/Double_Arrow_grey.png" alt="scroll down to see more">
        </div -->
    </section>
</div>
    <script src="./assets/plugins/color-thief.min.js"></script>
    <script src="./assets/plugins/resemblejs/resemble.js"></script> 
    <script src="./output/main.js"></script>
</body>
</html>