/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'NexaLight';
  src: url(../assets/img/NexaLight.eot);
  src: url(../assets/img/NexaLight.eot?#iefix) format("embedded-opentype"), url(../assets/img/NexaLight.woff2) format("woff"), url(../assets/img/NexaLight.ttf) format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  max-width: 100%;
  overflow-x: hidden;
  background: #fff;
  font: 300 24px/1.2 "Open Sans", sans-serif; }

header {
  position: relative;
  height: 100%;
  min-height: 750px;
  background: url(../assets/img/main_bg.jpg) no-repeat center center;
  background-size: 100% 100%; }
  header .wrapper {
    width: 80%;
    max-width: 80%;
    padding: 40px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #f1f1f1; }
    header .wrapper ul.top-menu {
      width: 600px;
      margin: auto;
      display: flex;
      flex-flow: row nowrap;
      color: #f1f1f1;
      text-transform: uppercase;
      justify-content: space-around; }
      header .wrapper ul.top-menu li {
        margin: auto;
        font: 24px/1.2 "PT Sans", sans-serif; }
    header .wrapper ul.mobile-menu {
      display: none;
      justify-content: flex-start; }
  header .image-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    margin: 0 auto; }
    header .image-content .image-box {
      position: relative;
      max-width: 80%;
      width: 600px;
      margin: auto;
      max-height: 330px;
      overflow: hidden; }
      header .image-content .image-box .image-url {
        position: absolute;
        top: 0;
        right: 0;
        margin: 6px;
        width: 40px;
        height: 40px;
        border-left: 1px solid #f5f5f5;
        border-bottom: 1px solid #f5f5f5;
        background-size: 30px 30px;
        background: rgba(150, 150, 150, 0.3); }
      header .image-content .image-box .image-url:hover {
        border-color: transparent;
        transition: .3s; }
      header .image-content .image-box .image-url-input {
        display: none;
        outline: none;
        cursor: default;
        position: absolute;
        top: -2px;
        right: 0px;
        margin: 4px;
        opacity: .5;
        width: 220px;
        min-width: 220px;
        max-width: 220px;
        height: 40px;
        font: 30px/40px "PT Sans", sans-serif;
        text-indent: 10px;
        text-overflow: ellipsis;
        border: 1px solid transparent;
        background: rgba(250, 250, 250, 0.3);
        transform: translateX(0px); }
      header .image-content .image-box .image-url-input:active, header .image-content .image-box .image-url-input:focus {
        background: #fff;
        border: 1px solid rgba(255, 255, 155, 0.8);
        transition: .3s; }
      header .image-content .image-box .image-url-input.visible {
        display: block;
        transform: translateX(-45px);
        transition: transform .3s; }
      header .image-content .image-box img {
        width: 100%; }
      header .image-content .image-box img.search-icon {
        padding: 6px; }
    header .image-content .palette {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between; }
      header .image-content .palette .color {
        width: 35px;
        height: 35px;
        margin: 20px;
        background: #f1f1f1;
        flex-basis: 20%; }
  header .scroll-section {
    width: 600px;
    cursor: pointer;
    font: 18px/1.2 "Open Sans", sans-serif;
    color: #f1f1f1;
    text-transform: uppercase;
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin: 50px 0 0 -300px; }
    header .scroll-section span {
      text-align: center; }
    header .scroll-section img {
      margin: 25px auto 0; }

section.about {
  display: none;
  position: relative;
  min-height: 100%;
  padding-bottom: 70px;
  background: #fff; }
  section.about .wrapper {
    width: 80%;
    max-width: 80%;
    padding: 40px;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
    border-bottom: 1px solid #bebebe; }
    section.about .wrapper ul.top-menu {
      width: 600px;
      margin: auto;
      display: flex;
      flex-flow: row nowrap;
      color: #bebebe;
      text-transform: uppercase;
      justify-content: space-around; }
      section.about .wrapper ul.top-menu li {
        margin: auto;
        font: 24px/1.2 "NexaLight"; }
    section.about .wrapper .personal-photo {
      margin: 35px 40px 85px;
      text-align: center;
      overflow: hidden;
      flex-basis: 50%; }
      section.about .wrapper .personal-photo img {
        width: 100%;
        max-height: 100%; }
    section.about .wrapper .about-me {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      flex-basis: 50%; }
      section.about .wrapper .about-me .title {
        font: 56px/2 "OpenSans", sans-serif;
        margin: 0;
        color: #202020;
        text-transform: uppercase; }
      section.about .wrapper .about-me .text {
        font: 300 24px/1.2 "Open Sans", sans-serif;
        color: #202020; }
        section.about .wrapper .about-me .text p:not(:last-child) {
          margin-bottom: 10px; }
      section.about .wrapper .about-me .signature {
        font: 600 36px/1.4 "Open Sans";
        color: #202020;
        font-weight: 800;
        margin: 60px 0; }
  section.about .content {
    border: none; }
  section.about .scroll-section {
    width: 600px;
    cursor: pointer;
    font: 18px/1.2 "Open Sans", sans-serif;
    color: #cbcbcb;
    text-transform: uppercase;
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    bottom: 50px;
    left: 50%;
    margin: 50px 0 0 -300px; }
    section.about .scroll-section span {
      text-align: center; }
    section.about .scroll-section img {
      margin: auto;
      padding-top: 20px; }

.scroll-section:hover {
  color: #e5e5e5; }
  .scroll-section:hover span {
    transform: translateY(10px);
    font-size: 15px;
    transition: .3s; }
  .scroll-section:hover img {
    animation-duration: .5s;
    animation-name: scrollPlay;
    animation-iteration-count: infinite;
    animation-direction: alternate; }

li:hover {
  cursor: pointer;
  color: #5e5e5e;
  transition: .3s; }

@keyframes scrollPlay {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(20px); } }

@media all and (max-width: 1169px) {
  header {
    background-size: auto; }
    header .scroll-section {
      visibility: hidden; }
  section.about .wrapper {
    width: 100%;
    max-width: 100%;
    padding: 40px 0; }
  section.about .content {
    flex-flow: column nowrap;
    width: 100%;
    max-width: 100%;
    padding: 0 0 70px 0; }
    section.about .content .personal-photo {
      margin: 0;
      width: 100%;
      flex-basis: auto; }
    section.about .content .about-me {
      margin-left: 50px;
      margin-right: 35px;
      flex-basis: auto; }
      section.about .content .about-me .title {
        line-height: 4;
        margin: 0; }
      section.about .content .about-me .text {
        line-height: 2; }
  section.about .scroll-section {
    margin-top: 5px;
    bottom: 80px; } }

@media all and (max-width: 520px) {
  #about-section {
    display: none; }
  .top-menu, .scroll-section {
    display: none !important; }
  header {
    height: 40%;
    min-height: 268px;
    background: url(../assets/img/mobile_bg.jpg) no-repeat;
    background-size: cover; }
    header .image-content {
      display: none; }
    header .wrapper {
      border: none;
      overflow: hidden; }
      header .wrapper ul.mobile-menu {
        display: block;
        width: 600px;
        margin: auto;
        display: flex;
        flex-flow: row nowrap;
        color: #f1f1f1;
        text-transform: uppercase;
        position: relative; }
        header .wrapper ul.mobile-menu li {
          font: 700 24px/1.2 "PT Sans", sans-serif;
          margin-left: 15px; }
          header .wrapper ul.mobile-menu li ul.toggle-menu {
            display: none; }
            header .wrapper ul.mobile-menu li ul.toggle-menu li {
              color: #f1f1f1;
              padding: 10px 0; }
        header .wrapper ul.mobile-menu li:before {
          position: absolute;
          top: -10px;
          left: -20px;
          content: '\221E';
          font-size: 36px; }
  section.about .wrapper {
    padding: 0;
    border: none; }
  section.about .content {
    flex-flow: column nowrap;
    max-width: 100%;
    padding: 0 0 70px 0; }
    section.about .content .personal-photo {
      overflow-x: hidden; }
      section.about .content .personal-photo img {
        width: 200%;
        margin-left: -50%;
        max-height: 100%; }
    section.about .content .about-me .title {
      font-size: 30px; }
    section.about .content .about-me .text, section.about .content .about-me .signature {
      font-size: 18px;
      line-height: 2.78; } }
